<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scheduler Calendar</title>

    <link rel="stylesheet" href="day.css">
  </head>
  <body>
    
    <div id="container">
      <div id="header">
          <div class="top">
            <div id="dateDisplay"><%=`${day} ${month}, ${year}`%></div>
            <div class="hidden"><%=`${year}-${monthNum}-${day}`%></div>
            <div><i class="fas fa-trash cursor dragDel"></i></div>
        </div>
        <button id="monthButton">Month View</button>
        <button id="weekButton">Week View</button>
        <button data-modal-target="#modal_addtask" >Add Task</button>

        <div class="modal" id="modal_addtask">
          <div class="modal-header">
            <div class="title">Add Task To The Scheduler</div>
            <button data-close-button class="close-button">&times</button>
          </div>
  
          <div class="add_schedule">
            <form class='form' action="/create" method="POST" >
              <label for="teacher_name">Teacher's Name:</label>
              <select name="teacher_name" id="teacher_name">
                <option value="None">None</option>
              </select>
              <label for="batch_name">Batch's Name:</label>
              <select name="batch_name" id="batch_name">
                <option value="None">None</option>
              </select>
              <label for="start_time">Start Time:</label>
              <input type="time" name="start_time" id='start_time' required>
              <label for="end_time">End Time:</label>
              <input type="time" name="end_time" id='end_time' required>
              <label for="date">Lecture Date:</label>
              <input type="date" name="date" id='manual_date' required>
              <label for="task">Enter Task:</label>
              <input type="text" name="task" id='task' required>
              <button type="submit" id="submit_schedule">Submit</button>
            </form>
          </div>
        </div>

        <div class="flex">
            <div class="flex-item">
                <div class="flex-sub-item">Teacher</div>
                <div class="flex-sub-item">Batch</div>
                <div class="flex-sub-item">Start Time</div>
                <div class="flex-sub-item">End Time</div>
                <div class="flex-sub-item ">Task</div>
                <div class="flex-sub-item">Delete</div>
                <div class="flex-sub-item">Edit</div>
            </div>
          </div>
          <div>
          </div>
          <div class="modal-bg">
             <div class="editmodal">
               <label for="newTName">Teacher Name:</label>
               <input type="text" name="newTName"  id="newTName">
               <label for="newBName">Batch Name:</label>
               <input type="text" name="newBName" id="newBName">
               <label for="newST">Start Time:</label>
               <input type="time" name="newST" id="newST">
               <label for="newET">End Time:</label>
               <input type="time" name="newET" id="newET">
               <label for="newTask">Task:</label>
               <input type="text" name="newTask" id="newTask">
              <button type="submit" id="updateBtn">Update</button>
              <span class="modal-close">X</span>
             </div>
          </div>

          <div id="overlay"></div>
    </div>
        <script src="https://kit.fontawesome.com/bf83cce012.js" crossorigin="anonymous"></script>
    <script defer src="day.js"></script>
  </body>
</html>